language: go
sudo: required
services:
- docker
go:
- 1.5.3
script:
- go get github.com/mitchellh/gox
- gox -osarch="linux/amd64" -output="docker/bjornbot_linux"
- docker login -e="$DOCKER_EMAIL" -u="$DOCKER_USERNAME" -p="$DOCKER_PASSWORD"
- cd docker
- docker build -t bjorn248/bjornbot .
- docker push bjorn248/bjornbot
- cd ..
deploy:
  provider: heroku
  api_key:
    secure: bsb4yo4XbZmL/9BCEbekpj/4Fvcaqpumeo7m0twBPLyiw5aClrydqPKxTEXJxr+GFrLJfIwD13WDxgKU3TC92kzU5WhISkMHTTPUUff3lwm9FC2jimwXkKFbCZTDDcLRBNq8o7RngNrSn1mj9frTlQJQp5hP+58GF5yBgWgiR81K9gMi7otWNlKwrnTKFkHmi94av7t/z65ZrgkxfLtMVnzuxiBaAoCFwp83sLarxB+uvnYSCNOei1H4o10u/J7C1btD1VRbFkHp20E67D4dr3bjHmphl09EAmhk/7t8WmynFs4CCY0rAWUwqrntZKp8vG1380oJPbVD3h26uh3pmBywaIfApKOtnpa7NCJSoKHLvUzxHfStsMs4P7SQ9S7+L8Gp98PDT7djDGmLR+sNItE3+Qq4bT5g5uJWXX1yCBC0tshnJAjmfRjTXy+67EIAP6jAv0MgaspAeLr3ke/4OrJVFFPnXFapkoylQLlxpeuftYB4nsMNQvUzUwQQdK8Cvunk/xkl8xDLCKMJHdQoB4wfO9ZXfRq4wGGW3zlboiNQDwUqBvfi+tNOnMF4Gszm6W58ogbx4XJLYG6UdCSt70GbvpPCvaQ3boHa5dSVW0c3Su8XLDkLQMGamDpzp4tN0eI83ToXtea/HG/knkMGjdZ8JxECuKR6w58TS3RuYrU=
  app: bjornbot
  on:
    repo: BjornTwitchBot/BjornBot
branches:
  only:
  - master
